
.myText{
    width: 900px;
    height:50px;
    font-size: 26px;
    color: lightgrey;
    border: 1px solid lightgrey;
    
   
}
.container{
    background-color:white;
}
.feed_box, .first_box{
    border:solid lightgrey 2px ;
    box-shadow: 3px 3px lightgrey;
    border-radius: 5px;
    height: 700px;
    width: 900px;
    margin: 30px;
    margin-left: 33.33%;
    margin-top: 50px;
    padding: 50px;
    background-color:white;
}
.first_box{
 height:110px;  
}
.first_box button,.feed_box button{
    height: 50px;
    padding: 10px 25px 50px;
    font-size: 23px;
    background-color: blue;
    border: solid blue 1px;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s; 
    margin-top: 20px;

}

.first_box button:hover,.feed_box button:hover{
    background-color: lightgrey;
    color: black;
    border-color: lightgrey;
}
.fa-pencil, .fa-thumbs-up{
    display: inline;
    margin-bottom: 20%;
}
.image1{
    width: 150px;
    border-radius: 100%;
    margin-right: 100%;
    
}
.feed_box header{
    font-size: 45px ;
    display: block;
    margin-top: -120px;
    margin-left: 200px;
}
.feed_box hr{
    margin-top: 15%;
}
.feed_box p{
    margin-top: 5%;
    font-size: 30px;
    
}
.feed_box header, p{
    font-family: Arial, Helvetica, sans-serif;
}
.image3{
    display: flex;
    flex-direction: column;
    margin-top: -205px;
    width: 410px;
    margin-left: 490px;
}
.image2{
    width: 410px;
    height: 200px;
    
}
.beside  button{
    margin-left: 156px;
}
.beside, .one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -83px;

}


